@media screen and (max-width: 991.98px) {

    /* HEADER */

    .nav-item.dropdown {
        width: 100%;
    }

    .header .dropdown-menu {
        transform: translateX(0);
        text-align: center;
    }

    .header:not(.nav-fixed) .navbar-collapse.show {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: var(--border);
        backdrop-filter: blur(6px);
    }

    .header .navbar-brand {
        flex: 1;
    }

    .header .navbar-collapse {
        order: 5;
    }

    .header .header__search {
        order: 2;
    }

    .header__theme-btn {
        margin: 0 24px;
    }

    .header .search-open {
        width: 40px;
        height: 40px;
    }

    .header .search-open i {
        font-size: 14px;
        line-height: 40px;
    }

    .header .header__checkbox~i {
        font-size: 30px;
    }

    .header .header__search {
        display: none !important;
    }

    .header .navbar-collapse.show~.header__search {
        display: flex !important;
    }

    /* SLIDER */

    .slider .carousel-inner {
        height: 700px;
    }

    .slider .carousel-caption h5 {
        font-size: 50px;
        line-height: 55px;
    }


    /* WORK */

    .work .work__left p {
        font-size: 17px;
    }
}

@media screen and (max-width: 767.98px) {

    /* SLIDER */

    .slider .carousel-inner {
        height: 650px;
    }

    .slider .carousel-caption h5 {
        font-size: 45px;
        line-height: 50px;
    }

    .slider .carousel-caption p {
        font-size: 18px;
    }

    /* WORK */

    .work .work__right .work__item {
        padding: 24px;
    }
}

@media screen and (max-width: 575.98px) {

    /* GLOBAL */

    .title h2 {
        font-size: 30px;
    }

    /* HEADER */

    .header .navbar-brand i {
        font-size: 24px;
    }

    .header .navbar-brand span:first-child {
        font-size: 24px;
    }

    .header .navbar-brand span:last-child {
        font-size: 10px;
    }

    .header .header__theme-btn {
        margin: 0 12px;
    }

    /* SLIDER */

    .slider .carousel-inner {
        height: 600px;
    }

    .slider .carousel-caption h5 {
        font-size: 40px;
        line-height: 44px;
    }

    .slider .carousel-caption a {
        padding: 12px 30px;
    }

    .carousel-control-next i,
    .carousel-control-prev i {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }

    /* WORK */
    .work .work__right .work__item a {
        font-size: 18px;
    }

    .work .work__right .work__item img {
        max-width: 45px;
    }
}

@media screen and (max-width: 415px) {

    /* GLOBAL */

    .title h2 {
        font-size: 24px;
    }

    /* SLIDER */

    .slider .carousel-caption h5 {
        font-size: 27px;
        line-height: 30px;
    }

    /* NEWS */

    .news .card-body a:last-child {
        font-size: 18px;
    }
}