@media screen and (max-width: 991.98px) {
    /* WORK */
    .work .work__left p {
        font-size: 17px;
    }
}

@media screen and (max-width: 767.98px) {

    /* WORK */

    .work .work__right .work__item {
        padding: 24px;
    }

    /* FOOTER */

    .footer .footer__content h3 {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 575.98px) {

    /* GLOBAL */

    .title h2 {
        font-size: 30px;
    }
    /* WORK */
    .work .work__right .work__item a {
        font-size: 18px;
    }

    .work .work__right .work__item img {
        max-width: 45px;
    }

    /* FOOTER */

    .footer .footer__content i {
        font-size: 17px;
    }

    .footer .footer__content .footer__logo span:first-child {
        font-size: 26px;
    }

    .footer .footer__content .footer__logo span:last-child {
        font-size: 14px;
    }

    .footer .footer__content p,
    .footer .footer__content span,
    .footer .footer__content a {
        font-size: 17px;
    }

}

@media screen and (max-width: 415px) {

    /* GLOBAL */

    .title h2 {
        font-size: 24px;
    }
    /* NEWS */

    .news .card-body a:last-child {
        font-size: 18px;
    }
}